{% extends 'layout.html' %}

{% block body %}
    <script>
        $(document).ready(function () {
            $('a').click(function () {
                $('a').addClass('in-active');       // ADD CLASS TO ALL THE TAGS.
                if ($(this).hasClass('in-active')) {    // CHECK IF THE TAG HAS 'in-active' CLASS.
                    $(this)
                        .removeClass('in-active')
                        .addClass('active');
                }
            })
        });
    </script>


    <h1>Admin Page</h1>
    <h3> Welcome {{session.username}} </h3>
    <hr>
  
    <table class="table table-striped" name="table">
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Give Access</th>
        </tr>
        {% for adm in admin %}
            <tr>
                <td>{{adm[0]}}</td>
                <td>{{adm[1]}}</td>
                <td>
                    <form action="{{url_for('add_admin', id=adm[0])}}" method='POST'>
                        <input type="submit" value="Admin Permisson" class="btn btn-success">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}