<!DOCTYPE html>
<html>
    <title>Admin Choice Page</title>
    <body>
        <center>
            <ul>
                <form action="" method="POST">
                    <div>
                        <input type="checkbox" name='admin'>
                        <h2>Want to Go to Admin Page</h2></br>
                        <input type="checkbox" name='dash_board'>
                        <h2>Want to Go to DashBoard Page</h2></br>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            
            </ul>
        </center>
    </body>
</html>